.container {
  display: flex;
  height: 100vh;
}

.infoBoxContainer,
.imageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  height: 530px;
  background: #e3e3e3;
  border-radius: 200px 200px 0 0;
}

@media (max-width: 960px) {
  .container {
    margin-top: 30vw;
    flex-direction: column-reverse;
  }

  .infoBoxContainer {
    position: relative;
    z-index: 1;
    margin-top: -4rem;
  }

  .imageContainer {
    justify-content: flex-end;
    position: relative;
    top: 15vw;
  }
}

@media (max-width: 768px) {
  .infoBoxContainer {
    margin-top: -8rem;
  }

  .image {
    width: 50vw;
    height: 69.05vw;
  }
}
