.container {
  position: fixed;
  background: #fbf6f5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.bubbleOne {
  opacity: 0.5;
  position: fixed;
  width: 1060px;
  height: 1060px;
  filter: blur(300px);
  background: #f9e1ea;
  z-index: 0;
}

.bubbleTwo {
  opacity: 0.5;
  position: fixed;
  width: 1060px;
  height: 1060px;
  filter: blur(300px);
  background: #edb296;
  z-index: 0;
}
