.image {
  position: absolute;
  overflow: hidden;
  width: 370px;
  height: 530px;
  background: #e3e3e3;
  border-radius: 200px 200px 0 0;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: 0.2;
}

@media (max-width: 960px) {
  .image {
    width: 38.543vw;
    height: 55.3vw;
  }
}

@media (max-width: 485px) {
  .image {
    width: 65vw;
    height: 90vw;
  }
}
