.container {
  margin: 100px auto;
  max-width: 800px;
}

.container h1 {
  font-family: var(--primary-headline);
}

.container h2,
.container h3,
.container h4,
.container p,
.container ul {
  font-weight: 200;
}
