.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 50vw;
  height: 100%;
  background: #e3e3e3;
  position: absolute;
  left: 0;
}

.contentContainer {
  transform: translateX(32%);
  display: flex;
}

.contentInformation {
  position: relative;
  z-index: 1;
  width: 30vw;
  height: 30vw;
  background: #a3b1c0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.contentHead {
  margin: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
}

.contentText {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 200;
  font-size: 1rem;
}

.contentImage {
  position: relative;
  z-index: 1;
  width: 30vw;
  height: 30vw;
  background: #e3e3e3;
}

@media (max-width: 960px) {
  .container {
    width: 100%;
    height: unset;
    flex-direction: column;
  }

  .contentHead {
    margin: 0;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
  }

  .image {
    width: 100%;
    height: 50vh;
    background: #e3e3e3;
    position: relative;
    left: 0;
  }

  .contentContainer {
    transform: unset;
    width: 100%;
    display: flex;
  }

  .contentInformation {
    width: 50%;
    height: 300px;
  }

  .contentImage {
    width: 50%;
    height: 300px;
  }
}

@media (max-width: 425px) {
  .container {
    height: 100vh;
  }

  .contentImage {
    display: none;
  }

  .contentInformation {
    width: 100vw;
    height: 50vw;
  }
}
