.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container > div:first-child {
  margin-right: 16px;
}

.container > div:last-child {
  margin-left: 16px;
}

.container > div:nth-child(2) {
  margin-left: 16px;
}

.contentContainer {
  flex: 1;
  height: 400px;
  background-color: var(--bg-orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: 0 200px 200px 0;
}

.contentHead {
  margin: 0;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
}

.contentText {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5;
}

.testBox {
  flex: 1;
  justify-content: center;
  align-items: center;
  background: lightgray;
}

@media (max-width: 960px) {
  .container {
    flex-wrap: wrap;
    height: unset;
    margin: 10vw 0;
  }

  .contentContainer {
    flex: unset;
    width: 100%;
    border-radius: 200px 200px 200px 200px;
    padding: 64px;
    height: auto;
    margin-bottom: 10vw;
  }

  .container > div:first-child {
    margin-right: unset;
  }

  .container > div:last-child {
    margin-left: 16px;
  }

  .container > div:nth-child(2) {
    margin-left: unset;
  }

  .contentHead {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .contentText {
    text-align: center;
    display: flex;
  }
}

@media (max-width: 425px) {
  .testBox {
    flex: unset;
    width: 100%;
  }

  .container > div:last-child {
    margin-left: unset;
  }

  .container > div:nth-child(2) {
    margin-bottom: 10vw;
  }
}
