.container {
  margin: 20vw 0;
  padding: 32px;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
}

.contactContainer,
.formContainer {
  flex: 1;
}

.head {
  font-family: var(--secondary-headline);
  font-size: var(--secondary-headline-size);
  margin: 0;
  font-weight: 200;
  margin-bottom: 100px;
}

.footerName {
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  margin-bottom: 32px;
}

.iconsContainer {
  display: flex;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding: 24px;
  background: var(--bg-orange);
  margin: 8px;
  border-radius: 50%;
}

.name {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.textarea {
  width: 100%;
}

.textarea,
.name input {
  border: none;
  font-size: 1rem;
  color: #000;
  padding: 1rem;
  border-radius: 15px;
  margin: 16px 0;
}

.button {
  border: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  background: var(--bg-orange);
  border-radius: 15px;
}

@media (max-width: 960px) {
  .head {
    text-align: center;
  }
  .wrapper {
    flex-direction: column;
  }

  .iconsContainer {
    justify-content: center;
  }

  .footerName {
    text-align: center;
  }

  .formContainer {
    margin: 4rem 0 0rem 0;
  }
}

@media (max-width: 768px) {
  .head {
    font-size: 10vw;
  }
}

@media (max-width: 460px) {
  .name {
    grid-template-columns: 1fr;
  }

  .name:first-child {
    margin-bottom: 0.8rem;
  }

  .textarea,
  .name input {
    margin: 0.8rem 0;
  }

  .inputContainer {
    margin: 0.8rem 0;
  }

  .iconsContainer {
    flex-wrap: wrap;
  }

  .inputContainer {
    justify-content: center;
    flex-wrap: wrap;
  }

  .select {
    margin: 8px;
  }
}
