@font-face {
  font-family: "Callingstone";
  src: url("/fonts/Callingstone/Callingstone.woff2") format("woff2"),
    url("/fonts/Callingstone/Callingstone.woff") format("woff"),
    url("/fonts/Callingstone/Callingstone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Fonts */
  --primary-headline: "Callingstone";
  --secondary-headline: "Callingstone";
  /* Font Sizes */
  --primary-headline-size: 6rem;
  --sub-headline-size: 2rem;
  --secondary-headline-size: 4rem;
  --info-headline: 2rem;
  --text-size: 1rem;
  /* Colors */
  --bg-blue: #a3b1c0;
  --bg-orange: #f7d3c7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 960px) {
  :root {
    --primary-headline-size: 10vw;
    --sub-headline-size: 3.33333vw;
  }

  main {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  :root {
    --secondary-headline-size: 10vw;
  }
}

/* ======= */
/* ======= */
/* HOME */
/* ======= */
/* ======= */

/* ABOUT SECTION */
.about-container {
  display: flex;
  height: 100vh;
}

.info-box-container,
.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
  height: 530px;
  background: #e3e3e3;
  border-radius: 200px 200px 0 0;
}

@media (max-width: 960px) {
  .about-container {
    margin-top: 30vw;
    flex-direction: column-reverse;
  }

  .info-box-container {
    position: relative;
    z-index: 1;
    margin-top: -4rem;
  }

  .image-container {
    justify-content: flex-end;
    position: relative;
    top: 15vw;
  }
}

@media (max-width: 768px) {
  .info-box-container {
    margin-top: -8rem;
  }

  .image {
    width: 50vw;
    height: 69.05vw;
  }
}

/* Landing Section */
.landing-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-container {
  position: relative;
  z-index: 1;
}

.image-landing {
  position: absolute;
  width: 370px;
  height: 530px;
  background: #e3e3e3;
  border-radius: 200px 200px 0 0;
}

@media (max-width: 960px) {
  .landing-container {
    width: 100%;
  }

  .image-landing {
    width: 38.543vw;
    height: 59.375vw;
  }
}

/* Early Identification */
.early-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.early-image-one {
  width: 50vw;
  height: 100%;
  background: #e3e3e3;
  position: relative;
  left: 0;
}

.early-content-box {
  left: 50%;
  transform: translateX(-20%);
  display: flex;
  position: relative;
  top: -50%;
  transform: translate(-10%, -50%);
}

.early-infobox {
  width: 27.35vw;
  height: 27.35vw;
}

.early-image-two {
  width: 27.35vw;
  height: 27.35vw;
  background: #e3e3e3;
  position: relative;
  left: 0;
}

@media (min-width: 1280px) {
  .early-container {
    width: unset;
  }

  .early-content-box {
    left: 620px;
  }

  .early-image-one {
    width: 680px;
    height: 100%;
    position: relative;
  }

  .early-infobox {
    width: 384px;
    height: 384px;
  }

  .early-image-two {
    width: 384px;
    height: 384px;
    position: relative;
  }
}

@media (max-width: 960px) {
  .early-container {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 10vw 0;
  }

  .early-image-one {
    width: 100%;
    height: 50vh;
    background: #e3e3e3;
    position: relative;
    left: 0;
  }

  .early-content-box {
    left: unset;
    top: unset;
    position: unset;
    transform: translate(0, 0);
    width: 100%;
  }

  .early-content-box > div {
    width: 50%;
    height: 300px;
  }
}

@media (max-width: 425px) {
  .early-container {
    height: 100vh;
  }

  .early-image-two {
    display: none;
  }

  .early-content-box > div {
    width: 100%;
    height: unset;
  }
}

/* Expertise */
.expertise-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.expertise-infobox {
  flex: 1;
  margin-right: 1rem;
}

.expertise-infobox > div {
  flex: 1;
}

@media (max-width: 960px) {
  .expertise-container {
    flex-wrap: wrap;
    height: 100vh;
    align-items: inherit;
  }

  .expertise-infobox {
    width: 100%;
    flex: unset;
    margin-right: unset;
    margin: 1rem 8px;
  }
}

@media (max-width: 485px) {
  .expertise-container {
    height: unset;
    margin: 0 0 40vw 0;
  }

  .expertise-infobox {
    height: unset;
    width: 100%;
    flex: unset;
    margin-right: unset;
    margin: 1rem 0;
  }
}
