@font-face {
  font-family: "Callingstone";
  src: url("/fonts/Callingstone/Callingstone.woff2") format("woff2"),
    url("/fonts/Callingstone/Callingstone.woff") format("woff"),
    url("/fonts/Callingstone/Callingstone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Fonts */
  --primary-headline: "Callingstone";
  --secondary-headline: "Callingstone";
  /* Font Sizes */
  --primary-headline-size: 5rem;
  --sub-headline-size: 2rem;
  --secondary-headline-size: 4rem;
  --third-headline-size: 3rem;
  --info-headline: 2rem;
  --text-size: 1rem;
  /* Colors */
  --bg-blue: #a3b1c0;
  --bg-orange: #f7d3c7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #fbf6f5;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 960px) {
  :root {
    --primary-headline-size: 10vw;
    --sub-headline-size: 3.33333vw;
  }

  main {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  :root {
    --secondary-headline-size: 10vw;
    --third-headline-size: 7vw;
  }
}

/* Image Square */
.imageSquare {
  height: 100%;
  width: 100%;
  position: relative;
}
