@font-face {
  font-family: "Callingstone";
  src: url("/fonts/Callingstone/Callingstone.woff2") format("woff2"),
    url("/fonts/Callingstone/Callingstone.woff") format("woff"),
    url("/fonts/Callingstone/Callingstone.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Fonts */
  --primary-headline: "Callingstone";
  --secondary-headline: "Callingstone";
  /* Font Sizes */
  --primary-headline-size: 6rem;
  --sub-headline-size: 2rem;
  --secondary-headline-size: 4rem;
  --info-headline: 2rem;
  --text-size: 1rem;
  /* Colors */
  --bg-blue: #a3b1c0;
  --bg-orange: #f7d3c7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 960px) {
  :root {
    --primary-headline-size: 10vw;
    --sub-headline-size: 3.33333vw;
  }

  main {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  :root {
    --secondary-headline-size: 10vw;
  }
}

.imageSquare {
  height: 100%;
  width: 100%;
  position: relative;
}



/* ======= */
/* ======= */
/* EARLY IDENTIFICATION */
/* ======= */
/* ======= */

/* LANDING */
.early-identification-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.early-identification-image-one {
  height: 60vh;
  flex: 1;
  position: relative;
}

.early-identification-landing-content {
  flex: 1;
  position: relative;
  padding-left: 2rem;
}

@media (max-width: 1110px) {
  .early-identification-container {
    margin-top: 128px;
    flex-direction: column;
  }
  .early-identification-image-one {
    width: 500px;
    flex: unset;
    height: 60vh;
    align-self: flex-start;
  }

  .early-identification-landing-content {
    align-self: flex-end;
    max-width: 800px;
    flex: unset;
    padding-left: unset;
  }
}

@media (max-width: 870px) {
  .early-identification-container {
    align-items: center;
  }
  .early-identification-image-one {
    width: 80vw;
    height: 60vh;
    align-self: unset;
  }

  .early-identification-landing-content {
    align-self: unset;
  }
}

/* EALRY IDENTIFICATION INFO SECTION */
.ealry-info-section-container {
  max-width: 850px;
  margin: 0 auto;
}

.ealry-info-section-two-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 128px 0;
}

.ealry-info-box-container {
  position: absolute;
  z-index: 1;
  max-width: 60%;
  left: 0;
}

.early-identification-image-two {
  width: 50%;
  height: 80vh;
  justify-self: flex-end;
  position: relative;
}

@media (max-width: 960px) {
  .ealry-info-box-container {
    position: absolute;
    z-index: 1;
    max-width: 60%;
    left: 16px;
  }
}

@media (max-width: 768px) {
  .ealry-info-section-two-container {
    margin: 128px 0;
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: unset;
  }

  .ealry-info-box-container {
    position: relative;
    z-index: 1;
    max-width: 100%;
    left: unset;
  }

  .early-identification-image-two {
    width: 100%;
    height: 80vh;
    justify-self: flex-end;
  }
}
