/* Landing Section */
.landingContainer {
  position: relative;
  height: 100vh;
  display: grid;
  justify-items: center;
  margin-top: 100px;
}

.landingCoverImageContainer {
  position: absolute;
}

.headContainer {
  transform: translateY(20%);
  position: relative;
  z-index: 1;
}

.headContainer h1:first-child {
  margin: 0;
}

@media (max-width: 485px) {
  .headContainer {
    transform: translateY(60%);
  }
}

/* section two */
.sectionTwoContainer {
  position: relative;
  height: 100vh;
}

.sectionTwoImageOne {
  width: 50%;
  height: 100%;
  position: relative;
  left: 0;
}

.sectionTwoInfoBoxContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transform: translateY(-150%);
  height: 50%;
  max-width: 820px;
  position: absolute;
  right: 0;
}

.sectionTwoContentWrapper {
  max-width: 410px;
}

.sectionTwoImageTwo {
  max-width: 410px;
  position: relative;
}

@media (max-width: 960px) {
  .sectionTwoContainer {
    margin: 10vw 0;
  }

  .sectionTwoImageOne {
    width: 100%;
    height: 50vh;
    position: relative;
  }

  .sectionTwoInfoBoxContainer {
    position: relative;
    transform: translateY(0%);
    max-width: 100%;
  }

  .sectionTwoContentWrapper {
    max-width: 100%;
  }

  .sectionTwoImageTwo {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .sectionTwoContainer {
    height: 100vh;
  }

  .sectionTwoInfoBoxContainer {
    grid-template-columns: 1fr;
  }

  .sectionTwoImageTwo {
    display: none;
  }
}

/* section three */
.sectionThreeContainer {
  margin: 150px 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media (max-width: 768px) {
  .sectionThreeContainer {
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }
}

/* section four */
.sectionFourContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

@media (max-width: 960px) {
  .sectionFourContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionFourContainer h2 span:first-child {
    display: none;
  }

  .sectionFourInfoBox {
    position: relative;
    top: -16vw;
    z-index: 1;
    grid-row: 2;
  }
}
