.head {
  font-weight: 200;
  font-size: 2rem;
  text-transform: uppercase;
}

@media (max-width: 960px) {
  .head {
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 200;
    font-size: 1.5rem;
  }
}
