.headWrapper,
.textWrapper {
  text-align: center;
}

.headWrapper {
  text-align: center;
  margin-bottom: -3rem;
  position: relative;
  z-index: 2;
}

.textWrapper {
  padding: 2.5rem;
  border-radius: 200px;
}
