.container {
  position: relative;
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  position: relative;
  z-index: 1;
  margin-bottom: 20vw;
}

.image {
  background: #fff;
  aspect-ratio: 1;
}

.contentContainer {
  background: var(--bg-blue);
  display: inline-block;
  padding: 6vw;
  width: 30%;
  position: absolute;
  left: 10%;
  top: 30%;
  border-radius: 0 0 200px 200px;
}

.contentHead {
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 32px;
}

/* Arrow */
.contentContainer > span {
  width: 100% !important;
}

@media (min-width: 1280px) {
  .contentContainer {
    background: var(--bg-blue);
    display: inline-block;
    padding: 64px;
    width: 384px;
  }
}

@media (max-width: 960px) {
  .imageContainer {
    margin-bottom: 20vw;
  }
}

@media (max-width: 768px) {
  .imageContainer {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30vw;
  }

  .contentContainer {
    top: 85%;
  }
  .contentHead {
    font-size: 1.5rem;
  }
}

@media (max-width: 485px) {
  .imageContainer {
    margin-bottom: 35vw;
  }

  .contentContainer {
    top: 85%;
    height: 50vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 6vw 3vw;
  }

  .contentHead {
    aspect-ratio: unset;
    font-size: 5vw;
  }
}
