.container {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 32px;
  top: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.menuListContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.menuList {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.overflow {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.menuListItem {
  margin: 15px 0;
  font-family: var(--primary-headline);
  font-size: 3.5rem;
  position: relative;
  z-index: 1;
}

.line {
  height: 40px;
  width: 0%;
  background: var(--bg-orange);
  position: absolute;
  bottom: 15px;
  transition: width 0.2s;
}

.overflow:hover > .line {
  width: 100%;
  transition: 0.2s;
}

@media (max-width: 920px) {
  .menuListItem {
    font-size: 6vw;
  }
}
