.container {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.close {
  position: absolute;
  width: 50px;
  height: 50px;
  background: blue;
  right: 32px;
  top: 16px;
  cursor: pointer;
}

.menuListContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.menuList {
  list-style: none;
}

.menuListItem {
  margin: 15px 0;
}
