.navbar {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
}

.logoContainer {
  background: #fbf6f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  cursor: pointer;
}

.line {
  height: 5px;
  width: 40px;
  background-color: #000;
  margin: 15px 0;
}
