.navbar {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  /* background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.05); */
}

.hamburger {
  cursor: pointer;
}

.line {
  height: 5px;
  width: 40px;
  background-color: #000;
  margin: 15px 0;
}
