.landingSectionContainer {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 1rem;
}
.landingImageContainer {
  height: 60vh;
  position: relative;
}

.infoBoxOne {
  position: relative;
}

@media (max-width: 960px) {
  .landingSectionContainer {
    margin: 150px 0;
    height: unset;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* section two */
.sectionTwoContainer {
  margin: 100px auto;
}

.sectionTwoContainerEarly {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  grid-gap: 32px;
}

.sectionTwoContainer h3 {
  font-weight: 200;
  font-size: var(--secondary-headline);
  font-size: 3rem;
  text-align: center;
}

.border {
  height: 5px;
  width: 50px;
  border-radius: 30px;
  background: var(--bg-orange);
  margin: 0 auto;
  margin-bottom: 2rem;
}

.sectionTwoContainer p,
.sectionTwoContainer ul li {
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
}

.sectionTwoContainer ul {
  padding: 0;
}

.sectionTwoContainer ul li {
  list-style: none;
}

/* section three */
.sectionThreeContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 150px 0;
}

.sectionThreeInfoBox {
  position: relative;
  width: 110%;
  z-index: 1;
}

.sectionThreeImage {
  height: 90vh;
}

@media (max-width: 900px) {
  .sectionTwoContainerEarly {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .sectionThreeContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .sectionThreeInfoBox {
    width: 100%;
    grid-row: 2;
  }
}
