.text {
  font-size: var(--text-size);
  line-height: 1.6;
  font-weight: 200;
}

.wordWrapper {
  display: inline-block;
  padding: 0 2px;
}

.word {
  position: relative;
  z-index: 3;
}
/* 
.word:before {
  content: "";
  bottom: 0px;
  left: -2px;
  right: -2px;
  height: 6px;
  background-color: var(--bg-orange);
  position: absolute;
  z-index: -1;
} */

.phrase {
  display: inline;
  margin: 0 2px;
  z-index: 2;
}

.line {
  bottom: 5px;
  transform: translateX(-6%);
  width: 116%;
  height: 6px;
  background-color: var(--bg-orange);
  position: absolute;
}

.orange {
  background: lightsalmon;
}

.blue {
  background: lightblue;
}
